<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" lang="en-US"><head profile="http://gmpg.org/xfn/11">
<head>
	<title>$WikiTitle {$Group}/{$Titlespaced}</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="$SkinDirUrl/style.css" media="screen">
	<!--[if IE 6]>
	<link rel="stylesheet" type="text/css" href="$SkinDirUrl/ie6.css" media="screen" />
	<![endif]-->
	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="$SkinDirUrl/ie7.css" media="screen" />
	<![endif]-->
	<script type="text/javascript" src="$SkinDirUrl/comment-reply.js"></script>
	<meta name="generator" content="PmWiki">
<!--HTMLHeader-->
</head>

<body>
	<div id="page-wrap" class="force_contain">
		<div id="top">
			<!--PageHeaderFmt-->
			<!--wiki:{$SiteGroup}.{$SkinName}-SiteHeader {$Group}.SiteHeader {$SiteGroup}.SiteHeader -->
			<!--/PageHeaderFmt-->

			<!--PageTabsFmt-->
			<!--wiki:{$SiteGroup}.{$SkinName}-SiteNav {$Group}.SiteNav {$SiteGroup}.SiteNav -->
			<!--/PageTabsFmt-->
			<!--PageActionFmt-->
			<div class="pageactions">
				<!--wiki:{$Group}.PageActions {$SiteGroup}.PageActions-->
			</div>
			<!--/PageActionFmt-->

		</div>

		<div class="content">
			<!--PageTitleFmt-->
			<a href='{$ScriptUrl}/{$Group}' class="pagegroup">{$Group}</a>
			<h3><a href='{$PageUrl}'>{$Titlespaced}</a></h3>
			<!--/PageTitleFmt-->
			<!--PageText-->
		</div>

		<!--PageRightFmt-->
		<div id="sidebar">
			<!--PageSearchFmt-->
			<h2>Search</h2>
			<form id="searchform" action='$ScriptUrl'><fieldset>
				<input type='hidden' name='n' value='{$FullName}' />
				<input type='hidden' name='action' value='search' />
				<input class='searchBox' type='text' id='s' name='q' value="" />
				<input id="searchsubmit" class='searchButton' type='submit' value='$[Go]' />
			</fieldset></form>
			<div class="clear"></div>
			<!--/PageSearchFmt-->

			<!--wiki:{$SiteGroup}.{$SkinName}-SideBar {$Group}.SideBar {$SiteGroup}.SideBar-->

		</div>
		<!--/PageRightFmt-->
	</div>

	<div id="footer">
		<!--PageFooterFmt-->
			<!--wiki:{$SiteGroup}.{$SkinName}-SiteFooter {$Group}.SiteFooter {$SiteGroup}.SiteFooter -->
		<!--/PageFooterFmt-->
		<div class="copyright floatLeft">
			<a href="http://pmwiki.com/Cookbook/Equilibrium">Equilibrium</a> theme originally by <a href="http://madebyon.com/">Made By On</a>, adapted by <a href="http://solidgone.org/Skins">David Gilbert</a>, powered by <a href="http://pmwiki.com/">PmWiki</a>
		</div>
	</div>

<!--HTMLFooter-->
</body>
</html>
